// ============================================================================
// Proyecto: Controlador Digital de Seguidor de Línea Competitivo (UV 2026)
// Target FPGA: Gowin GW1NR-LV9QN88PC6/I5 (Tang Nano 9K)
// Archivo de Restricciones Físicas: seguidor_linea.cst
// ============================================================================

// --- ENTRADAS DE CONTROL Y CLOCK (Banco 0/1 - 3.3V) ---
IO_LOC "CLK" 52;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// --- RESET (Banco 3 - 1.8V) ---
IO_LOC "RST" 4;
IO_PORT "RST" IO_TYPE=LVCMOS18 PULL_MODE=UP;

// --- SENSOR DE ARRANQUE AUTÓNOMO LDR (Banco 1 - 3.3V) ---
IO_LOC "LDR_IN" 33;
IO_PORT "LDR_IN" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// --- ENTRADAS DE SENSORES DE LÍNEA (Banco 1/2 - 3.3V) ---
IO_LOC "S1" 28;
IO_PORT "S1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "S2" 29;
IO_PORT "S2" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "S3" 30;
IO_PORT "S3" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "S4" 31;
IO_PORT "S4" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "S5" 32;
IO_PORT "S5" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// --- SALIDAS DE DIRECCIÓN DE MOTORES (Banco 1 - 3.3V) ---
IO_LOC "M_IZQ_DIR" 34;
IO_PORT "M_IZQ_DIR" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "M_DER_DIR" 35;
IO_PORT "M_DER_DIR" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// --- SALIDAS DE MOTORES - VELOCIDAD PWM (Banco 1 - 3.3V) ---
IO_LOC "M_IZQ" 40;
IO_PORT "M_IZQ" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "M_DER" 41;
IO_PORT "M_DER" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// --- SALIDAS DE LEDS INDICADORES (Banco 3 - 1.8V) ---
IO_LOC "LED_REC" 13;
IO_PORT "LED_REC" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;

IO_LOC "LED_IZQ" 14;
IO_PORT "LED_IZQ" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;

IO_LOC "LED_DER" 15;
IO_PORT "LED_DER" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;

IO_LOC "LED_STOP" 16;
IO_PORT "LED_STOP" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
